/*CSS Custom properties*/
:root {
  /*Primary colors*/
  --orange: hsl(26, 100%, 55%);
  --pale-orange: hsl(25, 100%, 94%);

  /*Neutral colors*/
  --very-dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%); /*75% for lighbox background*/

  /*Typography*/
  --font-size: 28px;
  --small-font-size: 16px;
  --font-weight1: 400;
  --font-weight2: 700;

  /*font family*/
  --font-family: "Kumbh Sans";
}
/*CSS reset*/
*,
::before,
::after {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  position: relative;
}

/*removes extra space between sections*/
section {
  margin-top: -1%;
}
li {
  list-style-type: none;
}

/*Below this section is where i hide different elements*/

main .menu {
  display: none;
  position: absolute;
  background-color: white;
  width: 35vw;
  height: calc(100vh + 320px);
  z-index: 1;
  padding: 20px;
}
main .close-menu {
  margin-bottom: 40px;
}

main .mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

main .mobile-menu li {
  font-size: 18px;
  font-weight: 650;
}

.screen-sm-hidden {
  display: none;
}

/*Styling elements under the nav bar*/
nav {
  display: flex;
  padding: 16px;
  justify-content: space-between;
}

nav .title-container {
  display: flex;
  gap: 15px;
  align-items: center;
}

nav .cart-container {
  align-items: center;
  display: flex;
  gap: 20px;
}
nav .cart-container img {
  width: 25px;
  height: 25px;
  align-items: center;
}

nav .logo {
  font-size: var(--font-size);
  font-family: var(--font-family);
}

/*Stying the element below the first section*/

section .images-container {
  position: relative;
}

section .slide img {
  width: 100%;
}

section .next-btn,
.previous-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: var(--white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.next-btn {
  top: 45%;
  right: 3%;
}
.previous-btn {
  top: 45%;
  left: 3%;
}

/*Styling elements under the second section*/

section .sneaker-info {
  padding: 10px 20px 20px 20px;
}

section .title {
  color: var(--orange);
  letter-spacing: 2px;
  font-size: 14px;
  padding: 10px 0 10px;
}

section .sneaker-name {
  width: 75vw;
  font-size: 28px;
  margin-bottom: 15px;
}

section p {
  color: var(--grayish-blue);
  margin-bottom: 15px;
}

section .price-container {
  margin-left: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

section .discount-price {
  display: flex;
  align-items: center;
}

section .discount-price h2 {
  margin-right: 15px;
}

section .discount-price span {
  background-color: var(--pale-orange);
  color: orange;
  padding: 3px 8px 3px 8px;
  border-radius: 4px;
}

section .original-price {
  display: flex;
  align-items: center;
  font-weight: var(--font-weight2);
  color: var(--grayish-blue);
  text-decoration: line-through;
}
.btn-container {
  display: flex;
  flex-direction: column;
}
.increment-decrement-container {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px 15px 20px;
  margin-bottom: 20px;
  background-color: var(--light-grayish-blue);
  border-radius: 5px;
}
.count-container h6 {
  font-size: 16px;
}
.white-cart {
  background-color: var(--orange);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  gap: 15px;
}
.add-to-cart {
  font-weight: var(--font-weight2);
}

@media (min-width: 962px) {
  .screen-sm-hidden {
    display: block;
  }
  .screen-lg-hidden {
    display: none;
  }

  body {
    display: flex;
    flex-direction: column;
  }
  li {
    list-style-type: none;
    color: var(--grayish-blue);
  }
  main .nav-wrapper {
    display: flex;
    justify-content: center;
  }
  nav {
    width: 70vw;
    margin-bottom: 15px;
  }

  main .cart-container img {
    width: 60px;
    height: 60px;
    margin-left: 20px;
  }

  nav .logo {
    margin-right: 30px;
  }

  nav .list-items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-size: 15px;
  }

  main .hr {
    margin-top: 0;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
  }

  main .horizontal-line {
    width: 65vw;
    border-bottom: 1px solid;
    border-color: var(--grayish-blue);
  }

  main .sections {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    gap: 100px;
  }

  section .images-container {
    width: 40vw;
  }

  .next-btn {
    top: 40%;
    right: 3%;
  }
  .previous-btn {
    top: 40%;
    left: 3%;
  }

  section .slide img {
    border-radius: 20px;
  }

  section .thumbnail-images {
    display: flex;
    width: 100%;
    gap: 20px;
  }

  section .thumbnail-img img {
    width: 100%;
    border-radius: 10px;
  }

  section .slide {
    margin-bottom: 20px;
  }

  section .sneaker-info {
    width: 40vw;
  }
  section .title {
    font-size: 20px;
  }

  section .sneaker-name {
    width: 100%;
    font-size: 40px;
  }

  section .price-container {
    display: block;
  }
  .discount-price h2 {
    font-size: 28px;
  }
  .original-price {
    font-size: 14px;
  }

  .btn-container {
    flex-direction: row;
    gap: 20px;
  }
  .increment-decrement-container {
    width: 35%;
  }

  .add-to-cart-container {
    width: 60%;
  }
}

@media (min-width: 1060px) {
  section .images-container {
    width: 35vw;
  }

  section .sneaker-info {
    width: 35vw;
  }
}

@media (min-width: 1300px) {
  section .images-container {
    width: 30vw;
  }

  section .sneaker-info {
    width: 30vw;
  }
}

@media (max-width: 300px) {
  main .mobile-menu li {
    font-size: 13px;
    font-weight: 650;
  }
}


